@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint--sm: 480px;
  --breakpoint--sm: 768px;
  --breakpoint--lg: 976px;
  --color-entityspace: #f54242;
  --color-entityspace-dark: #f7f7f7;
}
